:root {
 --danger-red: #ffac99;
 --deep-red: #D4521A;
 --warning-yellow: #ecd3a4;
 --icy-blue: #b2f6ff;
 --artic-blue: #33b1c3;
 --good-green: #d0f0b0;
 --shelf-brown: #644331;
}

main {
    height: 100dvh;
    overflow: hidden;
}

#bgimage {
    /* background-color: red; */
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    opacity: 0.4;
    background-size: contain;
    z-index: 1;
}

.NewItem, .EditItem, .Show, .NavBar{
    position: relative;
    z-index: 2;
}

/* Navigation Links */
.navlink {
    transition: 250ms;
    color: black;
    text-decoration: none;
}

.navlink:hover {
    color: #1e1e1e;
    transition: 250ms;
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}


.ItemThumb {
    transition: 250ms;
    width: 15rem;
    height: 20rem;
}

.ItemThumb:hover {
    transform: 250ms;
    width: 16rem;
}

/* Subcomponents */
.ThumbTitle {
    background-color: #f0f0f0;
    border-radius: 10px 10px 0px 0px;
    overflow-wrap: break-word;
    max-width: 600px;
}

.Details {
    /* border: 2px solid black; */
    border-radius: 50px 0px 0px 0px;
}

.Reccommend {
    background-color: var(--icy-blue);
    max-width: 500px;
    padding: 20px;
}

 /* Fonts */
.font-tillana {
    font-family: Tillana, serif;
}
.font-timmana {
    font-family: Timmana, serif;
}
.font-trirong {
    font-family: Trirong, sans-serif;
}
.font-shadows-into-light {
    font-family: Shadows Into Light, serif;
}
.font-playfair-display {
    font-family: Playfair Display, serif;
    font-weight: bold;
}

/* Font Color */

.fc-deep-red {
    color: var(--deep-red) !important;
}

.fc-artic-blue {
    color: var(--artic-blue);

}

/* Custom Background w/ opacity */

.bg-icy-blue {
    background-color: var(--icy-blue);
}
.bg-danger-red {
    background-color: var(--danger-red);
}

.bg-shelf-brown {
    background-color: rgba(188,104,57,30%);
    box-shadow: rgba(188,104,57,30%) 0rem 3rem;
}

.bg-shelf-brown-dark {
    background-color: rgba(188,104,57,60%);
    box-shadow: rgba(188,104,57,60%) 0rem 3rem;
}

.bg-shelf-gray {
    background-color: rgba(245,245,245,50%);
    box-shadow: rgba(245,245,245,50%) 0rem 3rem;
}

.bg-gray {
    background-color: rgba(245,245,245,50%);
}

.bg-ltwhite {
    background-color: rgba(255,255,255, 90%);
}


/* Custom heights  */

.h-12rem {
    max-height: 12rem;
}

.h-600 {
    height: 600px;
}

.hm-600 {
    max-height: 600px;
}
.checkbox-big input{
    transition: 250ms;
    width: 20px; 
    height: 20px;
    /* border: 1px solid white; */
}

.checkbox-big input:checked[type=checkbox]{
    transform: 250ms;
    width: 20px;
    height: 20px;
    background-color: gray;
    border: medium solid white;
    border-radius: 5px;
    --bs-form-check-bg-image: none
}

.checkbox-big input:focus[type=checkbox] {
    box-shadow: none;
    border-color: white;
}

.only-mobile {
    display: none
}

